body {
    font-family: Helvetica, Arial, sans-serif;
}

td {
    border: 1px solid black;
    vertical-align: top;
    width: 500px;
}


pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.objecttext {
    position: relative;
    height: 4em;
    padding: 2px;
    overflow: hidden;
}

.objecttext:after {
    font-size: 0.8em;
    text-shadow: 2px 2px 2px #808080;
    content:"[Click to expand]";
    padding-top: 3em;
    padding-left: 1em;
    position:absolute;
    top:0px;
    left:0;
    height:5em;
    width:100%;
    background: linear-gradient(rgba(255,255,255,0), #fff);
}

.objectclicked:after {
    content:"" !important;
    background: initial !important;
}

